@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
  -moz-box-sizing: $box-model;
  box-sizing: $box-model;
}

*,
*:after,
*:before {
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
}

html,
body {
  @include box-sizing(border-box);
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  background: #f5f5f5;
  color: #4d4d4d;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4em;
  margin: 0 auto;
  max-width: 550px;
  min-width: 230px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

button {
  background: none;
  border: 0;
  -webkit-appearance: none;
  appearance: none;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}
